.places__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  width: 100%;
  color: #fff;
  margin: 0;
}

.places__link:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

@media screen and (max-width: 641px) {
  .places__link {
    margin: 0 16px;
  }
}
