.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    align-self: flex-start;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 706px) {
  .lead__caption {
    margin: 8px 16px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 16px 0;
  }
}
