.menu__lang-link {
    border: 1px solid red;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    /* align-items: flex-end; */
    margin-right: 18px;
}

.menu__lang-link:last-of-type {
    margin-right: 0;
    text-decoration: none;
}